.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

#https://github.com/github/gitignore/blob/master/CodeIgniter.gitignore
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#ignore sql files
db/*.sqlite
db/*.sqlite-journal

#ignore uploaded profiel foto's
assets/img/profiel_fotos
#maar houdt de placeholders
!assets/img/profiel_fotos/*.svg
upload/*
!/upload/index.html

# ignore user guide
/user_guide
