body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url(/data-date-deluxe/assets/img/SiteImages/BackGround.jpg);
    background-size: 100%;
    background-color: darkorange; 
}

/* Responsive images */
img.responsive {
    width: 100%;
    height: auto;
}

.auth-container {
    border-radius: 12px;
    border: 10px solid #77C1E6;
    background: #77C1E6;
}

.center {
    vertical-align: middle;
    margin: auto;
    width: 60%;
}

.content {
    width: 90%;
    margin: auto;
}

/* Navbar */
ul.nav {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    text-align: center;
    padding: 1em;
    color: #1a4749;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #bbb;
}

ul.nav .right {
    float: right;
}

/* Register */
#register-form input[type='submit'] {
    margin-top: 1em;
}

input.short-field {
    max-width: 5em;
}

input, label {
    margin: 0.5em;
}

/* Messages */
.message {
    margin: 1em 0;
    padding: 1em;

    font-weight: bold;
}

.message.message-success {
    border: thick solid green;
}

.message.message-error {
    border: thick solid darkred;
}

/* Profiel */
img.profiel-foto {
    width: 20%;
}

table.table-profiel th {
    text-align: left;
    width: 15em;
}
