body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url(../img/site_images/BackGroundM.jpg);
    background-size: 100%;
    background-color: #b36b00;
}

div {
    overflow: hidden;
}

.clickable:hover {
    cursor: pointer;
}

/* Responsive images */
img.responsive {
    max-width: 100%;
    height: auto;
}

.auth-container {
    border-radius: 12px;
    border: 10px solid #77C1E6;
    background: #77C1E6;
}

.center {
    vertical-align: middle;
    margin: auto;
    width: 60%;
}

.content {
    max-width: 70%;
    margin: auto auto 2em;
    border-radius: 12px;
    border: 10px solid #77C1E6;
    background: #77C1E6;
}

/* Navbar */
ul.nav {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    overflow: hidden;
    background-color: #ff626c;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    text-align: center;
    padding: 1em;
    color: #e8e8e8;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #d25b65;
}

ul.nav .right {
    float: right;
}

.svg-nav {
    height: 1em !important;
}

/* Register */
#register-form input[type='submit'] {
    margin-top: 1em;
}

input.short-field {
    max-width: 5em;
}

input, label {
    margin: 0.5em;
}

/* Messages */
.message {
    margin: 1em 0;
    padding: 1em;

    font-weight: bold;
}

.message.message-success {
    border: thick solid green;
}

.message.message-error {
    border: thick solid darkred;
}

/* Profiel */
img.profiel-foto {
    width: 20%;
}

table.table-profiel th {
    text-align: left;
    width: 15em;
}

/* home */
article.readable {
    max-width: 50em;
}

#random-profielen {

}

.profiel {
    width: 45%;
    float: left;

    margin: 2%;
    background-color: #ff626c;
    border: 1px solid black;
    border-radius: 12px;
    height: 20em;
}

.profiel table {
    margin-left: 2em;
}

.profiel:active, .profiel:target {
    background-color: rgba(255, 98, 108, 0.5);
}
